body{
	width: 80%;
	margin-left: 10%;
}

#selSection{
	background-color: lightblue;
	width: 100%;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#nomeA{
	float: left;
}

#nomeB{
	float: right;
}

#perfil{
	width: 100%;
	height: 350px;
	margin-top: 10px;
	text-align: center;
}

#perfil img{
	margin: 0 auto;
}

.imagemPerfil{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 300px;
	display: block;
  	width: 300px;
}

#questao{
	text-align:center;
}

#questao p{
	font-size: 25px;
}

#resposta{
	padding-left: 20px;
}

#resposta img{
	float: right;
}

#resposta p{
	margin-top: 140px;
	font-size: 20px;
}