<!DOCTYPE html>
<html>
<head>
	<title>Capacit VUE</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">

		<div id="selSection">
			<p>Selecione uma pessoa:</p>
			<button @click="pessoa1()" type="button" id="nomeA" class="btn btn-success">Antônio</button>
			<button @click="pessoa2()" type="button" id="nomeB" class="btn btn-success">Julieta</button>
		</div>

		<div v-if="antonio">
			<div id="perfil">
				<img class="imagemPerfil" v-bind:src="imagemA">
				<p>Antônio, 7 anos</p>
			</div>

				<p>O que será que Antônio gosta? Pergunte você mesmo!</p>
				<span>-Senhor Antônio, você gosta de </span>
				<input v-model="comida" type="text" name="gostaForm" id="gostaForm" value="bananada">
				<span> ?</span>
				<button v-on:click="gostosA()">Descubra!</button>

			<div v-if="nGosta" id="resposta" class="row">
				<div class="col-6">
					<img class="imagemPerfil" v-bind:src="imagemAEnojado">
				</div>

				<div class="col-6">
					<p>{{resposta}}</p>
				</div>
			</div>
			<div v-else>
				<div class="col-6">
					<img class="imagemPerfil" v-bind:src="imagemAOk">
				</div>

				<div class="col-6">
					<p>{{resposta}}</p>
				</div>
			</div>
		</div>

		<div v-else>
			<div id="perfil">
				<img class="imagemPerfil" v-bind:src="imagemJ">
				<p>Julieta, 7 anos</p>
			</div>

				<p>O que será que Julieta gosta? Pergunte você mesmo!</p>
				<span>-Senhorita Julieta, você gosta de</span>
				<input v-model="comida" type="text" name="gostaForm" id="gostaForm">
				<span>?</span>
				<button v-on:click="gostosJ()">Descubra!</button>

			<div v-if="nGosta" id="resposta" class="row">

				<div class="col-6">
					<img class="imagemPerfil" v-bind:src="imagemJTriste">
				</div>

				<div class="col-6">
					<p>{{resposta}}</p>
				</div>
			</div>
			<div v-else>
				<div class="col-6">
					<img class="imagemPerfil" v-bind:src="imagemJFeliz">
				</div>

				<div class="col-6">
					<p>{{resposta}}</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
					controle: false,
					antonio: true,
					comida: '',
					resposta: 'AAAAA',
					nGosta: true,
					gosta: true,
					imagemJ: 'img/minaTomandoSuquinho.jpg',
					imagemJTriste: 'img/minaTriste.jpg',
					imagemJFeliz: 'img/minaFeliz.jpg',
					imagemA: 'img/mlkDeboa.jpg',
					imagemAEnojado: 'img/mlkEnojado.jpg',
					imagemAOk: 'img/mlkFazendoOk.jpg',
					curtoJ: [
									{ nome: "doce" },
									{ nome: "salgado"},
									{ nome: "brocolis"},
									{ nome: "pão de mel"},
									{ nome: "coca-cola"}
								],
					curtoA: [
									{ nome: "cheetos" },
									{ nome: "goiabada"},
									{ nome: "pão de queijo"},
									{ nome: "pepsi"},
									{ nome: "laranja"}
								]
			},
			methods: {
					pessoa1(){
						this.antonio = true
						this.controle= false;
						this.comida= '';
						this.resposta= 'AAAAA';
						this.nGosta= true;
						this.gosta= true;
					},
					pessoa2(){
						this.antonio = false
						this.controle= false;
						this.comida= '';
						this.resposta= 'AAAAA';
						this.nGosta= true;
						this.gosta= true;
					},
					gostosJ(){

						for (let i=0;i < 4;i++){
							console.log(this.comida);
							console.log(this.comida == this.curtoJ[i].nome);
							if (this.comida == this.curtoJ[i].nome){
								this.controle = true;
							}
						}
						if (this.controle==true){
							this.resposta = "SIMMM, adoro " + this.comida;
							this.nGosta = false;
							this.controle= false;
						}else{
							this.resposta = "NÃÃÃO, não gosto de " + this.comida;
							this.nGosta = true;
							this.controle= false;
						}
					},
					gostosA(){

						for (let i=0;i < 4;i++){
							console.log(this.comida);
							console.log(this.comida == this.curtoA[i].nome);
							if (this.comida == this.curtoA[i].nome){
								this.controle = true;
							}
						}
						if (this.controle==true){
							this.resposta = "SIMMM, adoro " + this.comida;
							this.nGosta = false;
							this.controle= false;
						}else{
							this.resposta = "NÃÃÃO, não gosto de " + this.comida;
							this.nGosta = true;
							this.controle= false;
						}
					}
		}
		})
	</script>
</body>
</html>
